<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItemForm()" #f="ngForm" >
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" ngModel name="name"  id="name" class="form-control" required >
          <!-- <input type="text"  id="name" class="form-control" #nameInput> -->
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" ngModel  name="amount" id="amount" class="form-control" pattern="^[1-9]+[0-9]*$" required>
          <!-- <input type="number" name="amount" id="amount" class="form-control" #amountInput> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- <button type="submit" class="btn btn-success" (click)="onAddItem()">Add</button> -->
          <button type="submit" class="btn btn-success" [disabled]="!f.valid " >{{editMode ? 'Update': 'Add'}}</button>
          <button type="button" class="btn btn-danger" *ngIf="editMode" (click)="onDelete()">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
