<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" >
        manage recipe <span class="caret"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="#">To shopping list </a>
            <a href="#">Edit Recipe </a>
            <a href="#">Add Recipe </a>
          </li>
        </ul>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    ingredients
  </div>
</div>
